.popup__close {
    background-image: url(../../../images/CloseIcon.png);
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-style: none;
    background-color: #000;
}

.popup__close:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .popup__close {
        background-image: url(../../../images/CloseIcon1.png);
        width: 20px;
        height: 20px;
        right: 0;
        top: -37px;
    }
}