.popup__message {
  max-width: 358px;
  min-height: 35px;
  margin-left: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: red;
}

@media screen and (max-width: 767px) {
  .popup__message {
    max-width: 238px;
  }
}