.profile__intro{
    max-width: 336px;
    height: 73px;
    margin: 40px auto 0 0;
    padding: 0;
    display: grid;
    grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 294px 24px;
  /* grid-template-rows: 1fr 336px; */
  gap: 16px;
}

@media screen and (max-width: 680px) {
    .profile__intro {
        max-width: 282px;
        height: 50px;
        /* margin-top: 36px; */
      justify-items: center;
      grid-template-columns: 189px 18px;
      gap: 10px 14px;
      margin: 0 auto;
    }
  }